* {
    -webkit-overflow-scrolling: touch;
}

html {
    font-size:90%;
    
    @media #{$large-up} {
        font-size:100%
    }
}

html, body {
    height:100%;
}

a {
    color:$yellow;
    &:hover, &:focus, &:active {
        color:$darkYellow;
    }
}

svg { 
    //max-height: 100%; 
    max-width:100%;
}