@import url("http://cloud.typography.com/708968/719302/css/fonts.css");

.sentinel {font-family: 'Sentinel SSm A', 'Sentinel SSm B'; font-weight: 400; font-style: normal;}
.sentinelitalic { font-family: 'Sentinel SSm A', 'Sentinel SSm B'; font-weight: 400; font-style: italic; }

.verlag-light {
    font-family: 'Verlag A', 'Verlag B'; font-weight: 300; font-style: normal;
}
.verlag-book {
    font-family: 'Verlag A', 'Verlag B'; font-weight: 400; font-style:normal;
}
.verlag-bold {
    font-family: 'Verlag A', 'Verlag B'; font-weight: 700; font-style:normal;
}