%w100 {
    width:100%;
    height:auto;
}

.section-padding {
    padding-top:3em;
    padding-bottom:3em;
    
    @media #{$medium-up} {
        padding-top:4em;
        padding-bottom:4em;
    }

    @media #{$large-up} {
        padding-top:5em;
        padding-bottom:5em;
    }
}

body.home {
    .mfp-title {display:none;}
}


.main {
    //padding-top:50%;
}
.left-off-canvas-menu {
    min-height: 100vh;
}
.grid-1-3-5 {
    display: block;
    margin:0 !important;
    padding:0;
    @extend .text-center;
    @include block-grid(1);
    @media #{$medium-up} {
        @include block-grid(3); 
    }
     @media #{$large-up} {
        @include block-grid(5); 
    }
    > li {
        display:block;
        float:none;
        @media #{$medium-up} {
            display: inline;
            float:left;
        }
    }
}