 .balance-text {
        text-wrap: balanced;
    }
    
.bg-image {
    background-image: url('../images/deglieffetti_2m.jpg');
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
}

.bg-black {
    background:$black;
    color:$white;
}

.bg-black__title {
    color:$white;
}

.bg-black__link {
        color:$darkYellow;
        &:hover, &:active {
            color:$yellow;
            text-decoration: underline;
        }
}

.bg-black__button {
    color:$white;
    &:hover, &:active {
        color:$lightGrey;
        text-decoration: none;
    }
}

.bg-pearl {
    background:$pearl;
    color:$black;
}

.bg-pearl__title {
    color:$black;
}

.bg-pearl__link {
        color:$lightGrey;
        &:hover, &:active {
            color:$yellow;
            text-decoration: underline;
        }
}

.bg-pearl__button {
    color:$darkGrey;
    &:hover, &:active {
        color:$white;
        text-decoration: none;
    }
}

.off-canvas-wrap {
    background:#333;
}